{{define "_header"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="referrer" content="no-referrer" />
    <title>cloutcli - bitclout command line interface (CLI) </title>
    <meta name="description" content="BitClout is a platform owned by its users. Bitcoin is decentralizing money, BitClout is decentralizing social media.">
    <meta name="theme-color" content="#7289DA">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="og:title" content="Welcome to BitClout">
    <meta property="og:description" content="BitClout is a platform owned by its users. Bitcoin is decentralizing money, BitClout is decentralizing social media.">
    <meta property="og:site_name" content="BitClout" >
    <meta property='og:image' content="https://bitclout.com/assets/img/camelcase_logo.png">
    <base href="/" />

    <meta name="viewport" content="width=device-width, initial-scale=0.9" />
    <link rel="icon" type="image/x-icon" href="https://bitclout.com/assets/img/favicon.png" />
    <link href="https://fonts.googleapis.com/css?family=Roboto%20Mono:400,500,700" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet" />
    <link href="https://bitclout.com/vendor/fontello.css" rel="stylesheet" />

    <script src="https://kit.fontawesome.com/070ca4195b.js" crossorigin="anonymous"></script>
    <link rel="manifest" href="https://bitclout.com/assets/app.webmanifest" />
    <link rel="icon" type="image/png" href="https://bitclout.com/assets/img/logo-512.png" sizes="512x512" />
    <link rel="icon" type="image/png" href="https://bitclout.com/assets/img/logo-192.png" sizes="192x192" />
    <link rel="apple-touch-icon" sizes="192x192" href="https://bitclout.com/assets/img/logo-192.png" type="image/png" />
    <link rel="apple-touch-icon" sizes="512x512" href="https://bitclout.com/assets/img/logo-512.png" type="image/png" />
<style>
body { font-family: Menlo; font-size: 0.8em; background-color: black; color: rgb(0,255,0); }
a { background-color: black; color: rgb(0,255,0); }
a:active { background-color: black; color: rgb(0,255,0); }
a:hover { background-color: black; color: rgb(0,255,0); }
a:visited { background-color: black; color: rgb(0,255,0); }
</style>
  </head>
  <body>
{{end}}
