
<br/>
<br/>
<br/>
<br/>

<form method="get" action="/">

  <input type="text" name="username" placeholder="username"/>
<br/>
<br/>

Comma separated list of words:
  <input type="text" name="exclude" placeholder="list,of,bad,words"/>
<br/>
<br/>
  <input type="submit" value="go"/>
</form>

<br/>
<br/>
<br/>
<br/>
<br/>
