<table width="100%">
{{range $i, $item := .posts}}
<tr>
  <td>{{add $i 1}}</td>
  <td><a href="https://bitclout.com/posts/{{$item.PostHashHex}}">{{$item.PostHashHex}}</a></td>
  <td>{{$item.Body}}</td>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
  <td>{{$item.TimestampNanos}}</td>
</tr>
{{end}}
</table>
