{{template "_header" .}}

          <h1>httpclout</h1>
          <h2><a href="https://github.com/andrewarrow/httpclout">https://github.com/andrewarrow/httpclout</a></h2>

          <div>
                  <h2><a href="#" onclick="window.addEventListener('message', handleMessage); window.CloutLogin = window.open('https://identity.bitclout.com/log-in?accessLevelRequest=3', null, 'toolbar=no, width=800, height=1000, top=0, left=0'); return false;">Log In</a></h2>
          </div>

<script>
function handleMessage(e) {
  console.log(e);
  if (e.data.method == "initialize") {
    var thing = Object();
    thing.id = e.data.id;
    thing.service = "identity";
    thing.payload = Object();
    e.source.postMessage(thing, "*");
  } else if (e.data.method == "login") {
    window.CloutLogin.close();
    var pub58 = e.data.payload.publicKeyAdded;
    console.log(pub58);
    var me = e.data.payload.users[pub58];
    document.cookie = 'httpclout_pub58='+pub58+'; expires=Sun, 1 Jan 2026 00:00:00 UTC; path=/';
    document.cookie = 'httpclout_level='+me.accessLevel+'; expires=Sun, 1 Jan 2026 00:00:00 UTC; path=/';
    document.cookie = 'httpclout_hmac='+me.accessLevelHmac+'; expires=Sun, 1 Jan 2026 00:00:00 UTC; path=/';
    document.cookie = 'httpclout_hex='+me.encryptedSeedHex+'; expires=Sun, 1 Jan 2026 00:00:00 UTC; path=/';
    window.location.reload(false);
  }
}
</script>
{{template "_footer" .}}          
